### Bagging Regressor

In [1]:
import pandas as pd
import numpy as np

In [17]:
df=pd.read_csv('Netflix Revenue.csv')
df.head()

,Date,Global Revenue,UACN Revenue,EMEA Revenue,LATM Revenue,APAC Revenue,UACN Members,EMEA Members,LATM Members,APAC Members,...,EMEA RPU,LATM RPU,APAC RPU,Domestic Members,Domestic Revenue,International Members,International Revenue,Domestic Free Trialers,Interntaional Free Trialers,Netflix Global Users
0,31-03-2012,869791000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,506665000.0,506665000.0,2409000.0,43425000.0,NaN,NaN,"50,90,74,000"
1,30-06-2012,889163000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,532705000.0,532705000.0,3024000.0,64973000.0,NaN,NaN,"53,57,29,000"
2,30-09-2012,905089000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,556027000.0,556027000.0,3689000.0,77744000.0,NaN,NaN,"55,97,16,000"
3,31-12-2012,945239000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,589471000.0,589471000.0,4892000.0,101400000.0,NaN,NaN,"59,43,63,000"
4,31-03-2013,1023961000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,638649000.0,638649000.0,6331000.0,142019000.0,NaN,NaN,"64,49,80,000"

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         45 non-null     object
 1   Global Revenue               45 non-null     int64
 2   UACN Revenue                 17 non-null     float64
 3   EMEA Revenue                 17 non-null     float64
 4   LATM Revenue                 17 non-null     float64
 5   APAC Revenue                 17 non-null     float64
 6   UACN Members                 17 non-null     float64
 7   EMEA  Members                17 non-null     float64
 8   LATM Members                 17 non-null     float64
 9   APAC Members                 17 non-null     float64
 10  UACN RPU                     17 non-null     float64
 11  EMEA RPU                     17 non-null     float64
 12  LATM  RPU                    17 non-null     float64
 13  APAC  RPU                    17 non-null     float64
 14  Domestic Members             28 non-null     float64
 15  Domestic Revenue             28 non-null     float64
 16  International Members        28 non-null     float64
 17  International Revenue        28 non-null     float64
 18  Domestic Free Trialers       12 non-null     float64
 19  Interntaional Free Trialers  12 non-null     float64
 20  Netflix Global Users         45 non-null     object
dtypes: float64(18), int64(1), object(2)
memory usage: 7.5+ KB

In [19]:
df['Domestic Members'].unique()

array([5.066650e+08, 5.327050e+08, 5.560270e+08, 5.894710e+08,
       6.386490e+08, 6.710890e+08, 7.010830e+08, 7.405540e+08,
       7.986170e+08, 8.382250e+08, 8.771500e+08, 9.174420e+08,
       9.845320e+08, 1.025913e+09, 1.063961e+09, 1.105933e+09,
       1.161241e+09, 1.208271e+09, 1.304333e+09, 1.403462e+09,
       1.046199e+09, 1.165228e+09, 1.327435e+09, 1.550329e+09,
       1.820019e+09, 1.893222e+09, 1.937314e+09, 1.996092e+09,
                nan])

In [20]:
df['Date']=pd.to_datetime(df['Date'])

C:\Users\aksha\AppData\Local\Temp\ipykernel_11308\3023999556.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date']=pd.to_datetime(df['Date'])

In [21]:
df['Date'].head()

0   2012-03-31
1   2012-06-30
2   2012-09-30
3   2012-12-31
4   2013-03-31
Name: Date, dtype: datetime64[ns]

In [22]:
df['day'] = df['Date'].dt.day
df['month'] = df['Date'].dt.month
df['year'] = df['Date'].dt.year

In [23]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
df['day']=label.fit_transform(df['day'])
df['month']=label.fit_transform(df['month'])
df['year']=label.fit_transform(df['year'])

In [24]:
df['day'].fillna(df['day'].mode()[0],inplace=True)
df['month'].fillna(df['month'].mode()[0],inplace=True)
df['year'].fillna(df['year'].mode()[0],inplace=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         45 non-null     datetime64[ns]
 1   Global Revenue               45 non-null     int64
 2   UACN Revenue                 17 non-null     float64
 3   EMEA Revenue                 17 non-null     float64
 4   LATM Revenue                 17 non-null     float64
 5   APAC Revenue                 17 non-null     float64
 6   UACN Members                 17 non-null     float64
 7   EMEA  Members                17 non-null     float64
 8   LATM Members                 17 non-null     float64
 9   APAC Members                 17 non-null     float64
 10  UACN RPU                     17 non-null     float64
 11  EMEA RPU                     17 non-null     float64
 12  LATM  RPU                    17 non-null     float64
 13  APAC  RPU                    17 non-null     float64
 14  Domestic Members             28 non-null     float64
 15  Domestic Revenue             28 non-null     float64
 16  International Members        28 non-null     float64
 17  International Revenue        28 non-null     float64
 18  Domestic Free Trialers       12 non-null     float64
 19  Interntaional Free Trialers  12 non-null     float64
 20  Netflix Global Users         45 non-null     object
 21  day                          45 non-null     int64
 22  month                        45 non-null     int64
 23  year                         45 non-null     int64
dtypes: datetime64[ns](1), float64(18), int64(4), object(1)
memory usage: 8.6+ KB

In [36]:
l=['Global Revenue','UACN Revenue','EMEA Revenue','LATM Revenue','APAC Revenue','International Revenue','Domestic Revenue']
for i in l:
    df[i].fillna(df[i].mode()[0],inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         45 non-null     datetime64[ns]
 1   Global Revenue               45 non-null     int64
 2   UACN Revenue                 45 non-null     float64
 3   EMEA Revenue                 45 non-null     float64
 4   LATM Revenue                 45 non-null     float64
 5   APAC Revenue                 45 non-null     float64
 6   UACN Members                 17 non-null     float64
 7   EMEA  Members                17 non-null     float64
 8   LATM Members                 17 non-null     float64
 9   APAC Members                 17 non-null     float64
 10  UACN RPU                     17 non-null     float64
 11  EMEA RPU                     17 non-null     float64
 12  LATM  RPU                    17 non-null     float64
 13  APAC  RPU                    17 non-null     float64
 14  Domestic Members             28 non-null     float64
 15  Domestic Revenue             28 non-null     float64
 16  International Members        28 non-null     float64
 17  International Revenue        45 non-null     float64
 18  Domestic Free Trialers       12 non-null     float64
 19  Interntaional Free Trialers  12 non-null     float64
 20  Netflix Global Users         45 non-null     object
 21  day                          45 non-null     int64
 22  month                        45 non-null     int64
 23  year                         45 non-null     int64
dtypes: datetime64[ns](1), float64(18), int64(4), object(1)
memory usage: 8.6+ KB

In [29]:
a=['UACN Members','EMEA  Members','LATM Members','APAC Members','Domestic Members','International Members']
for i in a:
    df[i].fillna(df[i].mode()[0],inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         45 non-null     datetime64[ns]
 1   Global Revenue               45 non-null     int64
 2   UACN Revenue                 45 non-null     float64
 3   EMEA Revenue                 45 non-null     float64
 4   LATM Revenue                 45 non-null     float64
 5   APAC Revenue                 45 non-null     float64
 6   UACN Members                 45 non-null     float64
 7   EMEA  Members                45 non-null     float64
 8   LATM Members                 45 non-null     float64
 9   APAC Members                 45 non-null     float64
 10  UACN RPU                     17 non-null     float64
 11  EMEA RPU                     17 non-null     float64
 12  LATM  RPU                    17 non-null     float64
 13  APAC  RPU                    17 non-null     float64
 14  Domestic Members             45 non-null     float64
 15  Domestic Revenue             28 non-null     float64
 16  International Members        45 non-null     float64
 17  International Revenue        45 non-null     float64
 18  Domestic Free Trialers       12 non-null     float64
 19  Interntaional Free Trialers  12 non-null     float64
 20  Netflix Global Users         45 non-null     object
 21  day                          45 non-null     int64
 22  month                        45 non-null     int64
 23  year                         45 non-null     int64
dtypes: datetime64[ns](1), float64(18), int64(4), object(1)
memory usage: 8.6+ KB

In [31]:
a=['UACN RPU','EMEA RPU','LATM  RPU','APAC  RPU']
for i in a:
    df[i].fillna(df[i].mean(),inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         45 non-null     datetime64[ns]
 1   Global Revenue               45 non-null     int64
 2   UACN Revenue                 45 non-null     float64
 3   EMEA Revenue                 45 non-null     float64
 4   LATM Revenue                 45 non-null     float64
 5   APAC Revenue                 45 non-null     float64
 6   UACN Members                 45 non-null     float64
 7   EMEA  Members                45 non-null     float64
 8   LATM Members                 45 non-null     float64
 9   APAC Members                 45 non-null     float64
 10  UACN RPU                     45 non-null     float64
 11  EMEA RPU                     45 non-null     float64
 12  LATM  RPU                    45 non-null     float64
 13  APAC  RPU                    45 non-null     float64
 14  Domestic Members             45 non-null     float64
 15  Domestic Revenue             28 non-null     float64
 16  International Members        45 non-null     float64
 17  International Revenue        45 non-null     float64
 18  Domestic Free Trialers       12 non-null     float64
 19  Interntaional Free Trialers  12 non-null     float64
 20  Netflix Global Users         45 non-null     object
 21  day                          45 non-null     int64
 22  month                        45 non-null     int64
 23  year                         45 non-null     int64
dtypes: datetime64[ns](1), float64(18), int64(4), object(1)
memory usage: 8.6+ KB

In [55]:
df['Netflix Global Users'].values

array(['50,90,74,000', '53,57,29,000', '55,97,16,000', '59,43,63,000',
       '64,49,80,000', '67,81,03,000', '70,91,67,000', '75,02,76,000',
       '81,03,72,000', '85,11,32,000', '89,15,39,000', '93,42,20,000',
       '1,00,38,36,000', '1,04,75,62,000', '1,08,79,12,000',
       '1,13,33,71,000', '1,19,32,34,000', '1,24,21,63,000',
       '1,34,11,32,000', '1,44,46,47,000', '1,09,11,87,000',
       '1,21,39,41,000', '1,38,01,13,000', '1,60,81,63,000',
       '1,88,38,34,000', '1,96,16,17,000', '2,01,07,79,000',
       '2,07,68,65,000', '14,88,63,000', '15,15,62,000', '15,83,34,000',
       '16,70,90,000', '18,28,56,000', '19,29,47,000', '19,51,51,000',
       '20,36,63,000', '20,76,39,000', '20,91,80,000', '21,35,63,000',
       '22,18,44,000', '22,16,41,000', '22,06,72,000', '22,30,85,000',
       '23,07,47,000', '23,24,98,000'], dtype=object)

In [58]:
df['Netflix Global Users']=df['Netflix Global Users'].str.replace(',','')
df['Netflix Global Users'].values

array(['509074000', '535729000', '559716000', '594363000', '644980000',
       '678103000', '709167000', '750276000', '810372000', '851132000',
       '891539000', '934220000', '1003836000', '1047562000', '1087912000',
       '1133371000', '1193234000', '1242163000', '1341132000',
       '1444647000', '1091187000', '1213941000', '1380113000',
       '1608163000', '1883834000', '1961617000', '2010779000',
       '2076865000', '148863000', '151562000', '158334000', '167090000',
       '182856000', '192947000', '195151000', '203663000', '207639000',
       '209180000', '213563000', '221844000', '221641000', '220672000',
       '223085000', '230747000', '232498000'], dtype=object)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         45 non-null     datetime64[ns]
 1   Global Revenue               45 non-null     int64
 2   UACN Revenue                 45 non-null     float64
 3   EMEA Revenue                 45 non-null     float64
 4   LATM Revenue                 45 non-null     float64
 5   APAC Revenue                 45 non-null     float64
 6   UACN Members                 45 non-null     float64
 7   EMEA  Members                45 non-null     float64
 8   LATM Members                 45 non-null     float64
 9   APAC Members                 45 non-null     float64
 10  UACN RPU                     45 non-null     float64
 11  EMEA RPU                     45 non-null     float64
 12  LATM  RPU                    45 non-null     float64
 13  APAC  RPU                    45 non-null     float64
 14  Domestic Members             45 non-null     float64
 15  Domestic Revenue             45 non-null     float64
 16  International Members        45 non-null     float64
 17  International Revenue        45 non-null     float64
 18  Domestic Free Trialers       45 non-null     float64
 19  Interntaional Free Trialers  45 non-null     float64
 20  Netflix Global Users         45 non-null     int64
 21  day                          45 non-null     int64
 22  month                        45 non-null     int64
 23  year                         45 non-null     int64
dtypes: datetime64[ns](1), float64(18), int64(5)
memory usage: 8.6 KB

In [59]:
df['Netflix Global Users']=pd.to_numeric(df['Netflix Global Users'])

In [34]:
a=['Domestic Free Trialers','Interntaional Free Trialers']
for i in a:
    df[i].fillna(df[i].mode()[0],inplace=True)

In [37]:
df.isnull().sum()

Date                           0
Global Revenue                 0
UACN Revenue                   0
EMEA Revenue                   0
LATM Revenue                   0
APAC Revenue                   0
UACN Members                   0
EMEA  Members                  0
LATM Members                   0
APAC Members                   0
UACN RPU                       0
EMEA RPU                       0
LATM  RPU                      0
APAC  RPU                      0
Domestic Members               0
Domestic Revenue               0
International Members          0
International Revenue          0
Domestic Free Trialers         0
Interntaional Free Trialers    0
Netflix Global Users           0
day                            0
month                          0
year                           0
dtype: int64

In [ ]:
d

In [61]:
X=df.drop(['Global Revenue','Date'],axis=1)
y=df['Global Revenue']

In [62]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [63]:
#Creating Samples
from sklearn.model_selection import KFold
fold=KFold(n_splits=10,random_state=7,shuffle=True)

In [64]:
from sklearn.tree import DecisionTreeRegressor
submodel=DecisionTreeRegressor()

In [65]:
from sklearn.ensemble import BaggingRegressor
model=BaggingRegressor(base_estimator=submodel,n_estimators=100,random_state=7)

In [67]:
from sklearn.model_selection import cross_val_score
bagging_model=cross_val_score(model,X_train,y_train,cv=fold)
for i in range(len(bagging_model)):
    print('model:',i,'accuracy:',bagging_model[i])

E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

model: 0 accuracy: 0.9088283534435133
model: 1 accuracy: 0.9143754735031397
model: 2 accuracy: -0.3606768774674418
model: 3 accuracy: 0.9971881252060698
model: 4 accuracy: 0.993992453185247
model: 5 accuracy: 0.9994921328251081
model: 6 accuracy: 0.9984373303954712
model: 7 accuracy: 0.9500382863532063
model: 8 accuracy: 0.9990771766541955
model: 9 accuracy: 0.9982277120447395

In [68]:
model.fit(X_train,y_train)

E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

BaggingRegressor(base_estimator=DecisionTreeRegressor(), n_estimators=100,
                 random_state=7)

In [72]:
from sklearn.metrics import mean_squared_error,r2_score
y_pred=model.predict(X_test)
print(mean_squared_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

1.922024952114618e+17
0.9746333159962596

# BoostClassifier

In [2]:
df=pd.read_csv('mobile.csv')
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1.0
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2.0
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2.0
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2.0
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  3000 non-null   int64
 1   blue           3000 non-null   int64
 2   clock_speed    3000 non-null   float64
 3   dual_sim       3000 non-null   int64
 4   fc             3000 non-null   int64
 5   four_g         3000 non-null   int64
 6   int_memory     3000 non-null   int64
 7   m_dep          3000 non-null   float64
 8   mobile_wt      3000 non-null   int64
 9   n_cores        3000 non-null   int64
 10  pc             3000 non-null   int64
 11  px_height      3000 non-null   int64
 12  px_width       3000 non-null   int64
 13  ram            3000 non-null   int64
 14  sc_h           3000 non-null   int64
 15  sc_w           3000 non-null   int64
 16  talk_time      3000 non-null   int64
 17  three_g        3000 non-null   int64
 18  touch_screen   3000 non-null   int64
 19  wifi           3000 non-null   int64
 20  price_range    2000 non-null   float64
dtypes: float64(3), int64(18)
memory usage: 492.3 KB

In [5]:
df.dropna(subset='price_range',inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   float64
dtypes: float64(3), int64(18)
memory usage: 343.8 KB

In [8]:
X=df.drop('price_range',axis=1)
y=df['price_range']

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [11]:
from sklearn.model_selection import KFold
fold=KFold(n_splits=10,random_state=7,shuffle=True)

In [12]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()

In [14]:
from sklearn.ensemble import BaggingClassifier
final_model=BaggingClassifier(base_estimator=model,n_estimators=10,random_state=7)

In [15]:
from sklearn.model_selection import cross_val_score
cv=cross_val_score(final_model,X_train,y_train,cv=fold)
for i in range(len(cv)):
    print('model:',i,'accuracy:',cv[i])

E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

model: 0 accuracy: 0.8333333333333334
model: 1 accuracy: 0.88
model: 2 accuracy: 0.9333333333333333
model: 3 accuracy: 0.9066666666666666
model: 4 accuracy: 0.8933333333333333
model: 5 accuracy: 0.84
model: 6 accuracy: 0.8666666666666667
model: 7 accuracy: 0.8733333333333333
model: 8 accuracy: 0.84
model: 9 accuracy: 0.9

In [16]:
from sklearn.metrics import classification_report
final_model.fit(X_train,y_train)
y_pred=final_model.predict(X_test)
print(classification_report(y_test,y_pred))

E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

              precision    recall  f1-score   support

         0.0       0.96      0.96      0.96       125
         1.0       0.83      0.85      0.84       125
         2.0       0.83      0.74      0.79       133
         3.0       0.86      0.95      0.90       117

    accuracy                           0.87       500
   macro avg       0.87      0.88      0.87       500
weighted avg       0.87      0.87      0.87       500

In [17]:
from sklearn.tree import DecisionTreeClassifier
model1=DecisionTreeClassifier()

In [18]:
final_model1=BaggingClassifier(base_estimator=model1,n_estimators=100,random_state=7)

In [20]:
cv1=cross_val_score(final_model1,X_train,y_train,cv=fold)
for i in range(len(cv1)):
    print('model:',i,'accuracy:',cv1[i])

E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

model: 0 accuracy: 0.8666666666666667
model: 1 accuracy: 0.8933333333333333
model: 2 accuracy: 0.9133333333333333
model: 3 accuracy: 0.9
model: 4 accuracy: 0.8933333333333333
model: 5 accuracy: 0.8466666666666667
model: 6 accuracy: 0.86
model: 7 accuracy: 0.86
model: 8 accuracy: 0.8666666666666667
model: 9 accuracy: 0.8866666666666667

In [22]:
final_model1.fit(X_train,y_train)
y_pred1=final_model1.predict(X_test)
print(classification_report(y_test,y_pred1))

E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

              precision    recall  f1-score   support

         0.0       0.97      0.87      0.92       125
         1.0       0.82      0.93      0.87       125
         2.0       0.88      0.86      0.87       133
         3.0       0.92      0.92      0.92       117

    accuracy                           0.90       500
   macro avg       0.90      0.90      0.90       500
weighted avg       0.90      0.90      0.90       500