# Support Vector Classifier

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('mobile.csv')
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1.0
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2.0
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2.0
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2.0
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  3000 non-null   int64
 1   blue           3000 non-null   int64
 2   clock_speed    3000 non-null   float64
 3   dual_sim       3000 non-null   int64
 4   fc             3000 non-null   int64
 5   four_g         3000 non-null   int64
 6   int_memory     3000 non-null   int64
 7   m_dep          3000 non-null   float64
 8   mobile_wt      3000 non-null   int64
 9   n_cores        3000 non-null   int64
 10  pc             3000 non-null   int64
 11  px_height      3000 non-null   int64
 12  px_width       3000 non-null   int64
 13  ram            3000 non-null   int64
 14  sc_h           3000 non-null   int64
 15  sc_w           3000 non-null   int64
 16  talk_time      3000 non-null   int64
 17  three_g        3000 non-null   int64
 18  touch_screen   3000 non-null   int64
 19  wifi           3000 non-null   int64
 20  price_range    2000 non-null   float64
dtypes: float64(3), int64(18)
memory usage: 492.3 KB

In [5]:
df.dropna(subset=['price_range'],inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   float64
dtypes: float64(3), int64(18)
memory usage: 343.8 KB

In [7]:
X=df.drop('price_range',axis=1)
y=df['price_range']

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [14]:
from sklearn.svm import SVC
model=SVC()
print(model.get_params())

{'C': 1.0, 'break_ties': False, 'cache_size': 200, 'class_weight': None, 'coef0': 0.0, 'decision_function_shape': 'ovr', 'degree': 3, 'gamma': 'scale', 'kernel': 'rbf', 'max_iter': -1, 'probability': False, 'random_state': None, 'shrinking': True, 'tol': 0.001, 'verbose': False}

In [16]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
parm_grid={'kernel':['rbg','linear','poly'],'C':[1,2,3,4,5],'degree':[3,4,5,6]}
grid=GridSearchCV(estimator=SVC(),param_grid=parm_grid,cv=5)
grid.fit(X_train,y_train)
print(grid.best_params_)
print(grid.best_score_)

E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
100 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
100 fits failed with the following error:
Traceback (most recent call last):
  File "E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\svm\_base.py", line 180, in fit
    self._validate_params()
  File "E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'kernel' parameter of SVC must be a str among {'rbf', 'sigmoid', 'linear', 'precomputed', 'poly'} or a callable. Got 'rbg' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
E:\BROCAMP\DS\dsvenv\lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan 0.97       0.96              nan 0.97       0.958
        nan 0.97       0.95333333        nan 0.97       0.94866667
        nan 0.972      0.96              nan 0.972      0.958
        nan 0.972      0.956             nan 0.972      0.95466667
        nan 0.96933333 0.96133333        nan 0.96933333 0.95666667
        nan 0.96933333 0.95466667        nan 0.96933333 0.958
        nan 0.96933333 0.96133333        nan 0.96933333 0.95933333
        nan 0.96933333 0.956             nan 0.96933333 0.958
        nan 0.96933333 0.96066667        nan 0.96933333 0.96133333
        nan 0.96933333 0.958             nan 0.96933333 0.95933333]
  warnings.warn(

{'C': 2, 'degree': 3, 'kernel': 'linear'}
0.9719999999999999

In [17]:
model=SVC(kernel='linear',degree=3,C=2)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [18]:
from sklearn.metrics import classification_report,confusion_matrix

In [19]:
confusion_matrix(y_test,y_pred)

array([[138,   0,   0,   0],
       [  2, 111,   3,   0],
       [  0,   1, 113,   3],
       [  0,   0,   6, 123]], dtype=int64)

In [21]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.99      1.00      0.99       138
         1.0       0.99      0.96      0.97       116
         2.0       0.93      0.97      0.95       117
         3.0       0.98      0.95      0.96       129

    accuracy                           0.97       500
   macro avg       0.97      0.97      0.97       500
weighted avg       0.97      0.97      0.97       500